extends ../layout

block content
  .container
    h1.page-header 고객 관리

    h2.page-header 가능
    table.table.table-bordered
      thead
        tr
          th 방이름
          th 도시
          th 숙소 인원
          th 비용
          th 조회수
          th 등록시간
          th 예약상태
          th 
      tbody
        each room in rooms
          if (room.state == "예약가능")
            tr
              td
                a(href='/rooms/#{room.id}')= room.title
              td= room.bigAddress
              td= room.capacity
              td= room.cost
              td= room.read
              td= moment(room.createdAt).format('YYYY-MM-DD HH:mm:ss')
              td 
                span.yes= room.state
              td
                a.btn.btn-xs.btn-default(href='/rooms/#{room.id}/edit') 수정
                | 
                a.btn.btn-xs.btn-default(href='/rooms/#{room.id}?_method=DELETE') 삭제
                

    h2.page-header 진행
    table.table.table-bordered
          thead
            tr
              th 방이름
              th 도시
              th 숙소 인원
              th 비용
              th 조회수
              th 예약상태
              th 예약신청자
              th 
          tbody
            each room in rooms
              if (room.state == "예약진행중")
                tr
                  td
                    a(href='/rooms/#{room.id}')= room.title
                  td= room.bigAddress
                  td= room.capacity
                  td= room.cost
                  td= room.read
                  td 
                    span.ing= room.state
                  td
                    a.btn.btn-xs.btn-default(href='/reservations/#{room.id}/show') 상세보기
                  td
                    a.btn.btn-xs.btn-default(href='/reservations/#{room.id}/accept?_method=PUT') 수락하기
                    | 
                    a.btn.btn-xs.btn-default(href='/reservations/#{room.id}/refuse?_method=PUT') 거절하기
          
    h2.page-header 완료
    table.table.table-bordered
          thead
            tr
              th 방이름
              th 도시
              th 숙소 인원
              th 비용
              th 조회수
              th 등록시간
              th 예약상태
              th 
          tbody
            each room in rooms
              if (room.state == "예약완료")
                tr
                  td
                    a(href='/rooms/#{room.id}')= room.title
                  td= room.bigAddress
                  td= room.capacity
                  td= room.cost
                  td= room.read
                  td= moment(room.createdAt).format('YYYY-MM-DD HH:mm:ss')
                  td 
                    span.no= room.state
                  td
                    a.btn.btn-xs.btn-default(href='/reservations/#{room.id}/refuse?_method=PUT') 취소하기
  
